.main {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #c1cfed;
}
.card {
    width: 50%;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
    background-color: rgb(44, 173, 237) !important;
}
.btn {
    background-color: rgb(153, 152, 152) !important;
}
#list {
    margin-top: 30px;
}